In [1]:
#Importando Pandas

import pandas as pd

In [2]:
#Lendo arquivo csv

cred=pd.read_csv("desafio1.csv")

In [3]:
#Visualizando a base de dados

cred.head()

,RowNumber,id,sobrenome,pontuacao_credito,estado_residencia,genero,idade,nivel_estabilidade,saldo_conta,numero_produtos,possui_cartao_de_credito,membro_ativo
0,1,e7f44fcbd380d4cef7e6c232cc7e37895c3fd197,6d6e0aa1b9b413e442e2fb68df14b4fc3f91de50,619,SC,F,42,2,0.00,1,1,1
1,2,28dcb083ad90512da16b9430085c2cddb8ca5e12,48e1ad846796fa314f1b4a6702b83343eb5482c5,608,RS,F,41,1,83807.86,1,0,1
2,3,774bc378f787438c9c7594e536787d07a097a54b,f2b29d5d934de615812b697132e767dea0f1e9e2,502,SC,F,42,8,159660.80,3,1,0
3,4,043a71326f7096de155e7f0c559dc62b5e4b7239,85d5c9da7cddd8109ad32a6c348fe2bb10bf99f2,699,SC,F,39,1,0.00,2,0,0
4,5,37b3bb8ca243955fb3605ec7e1c2a4607cdb3b22,ddc89c837a6933639de75f28171057060bd322df,850,RS,F,43,2,125510.82,1,1,1

In [4]:
#definindo uma lista das colunas que serão usadas

lista=['pontuacao_credito','estado_residencia']

In [5]:
#criando uma base com apenas as colunas desejadas

cred1=cred[lista]

In [6]:
cred1.head()

   pontuacao_credito estado_residencia
0                619                SC
1                608                RS
2                502                SC
3                699                SC
4                850                RS

In [7]:
#Média por estado

cred1.groupby('estado_residencia')['pontuacao_credito'].mean()

estado_residencia
PR    648.961294
RS    651.105143
SC    649.537653
Name: pontuacao_credito, dtype: float64

In [8]:
#Mediana por estado

cred1.groupby('estado_residencia')['pontuacao_credito'].median()

estado_residencia
PR    650
RS    650
SC    653
Name: pontuacao_credito, dtype: int64

In [9]:
#Moda por estado

cred1.groupby('estado_residencia')['pontuacao_credito'].apply(lambda x: x.mode())

estado_residencia
PR                 0    850
RS                 0    850
SC                 0    850
Name: pontuacao_credito, dtype: int64

In [10]:
#Desvio padrão por estado

cred1.groupby('estado_residencia')['pontuacao_credito'].std()

estado_residencia
PR    98.607186
RS    95.136598
SC    97.233493
Name: pontuacao_credito, dtype: float64

In [15]:
#criando dicionário

cred2={"SC": {"moda": 850, "mediana": 653, "media": 649.537653, "desvio_padrao": 97.233493},
 "RS": {"moda": 850, "mediana": 650, "media": 651.105143, "desvio_padrao": 95.136598},
 "PR": {"moda": 850, "mediana": 650, "media": 648.961294, "desvio_padrao": 98.607186}}

In [16]:
cred2

{'SC': {'moda': 850,
  'mediana': 653,
  'media': 649.537653,
  'desvio_padrao': 97.233493},
 'RS': {'moda': 850,
  'mediana': 650,
  'media': 651.105143,
  'desvio_padrao': 95.136598},
 'PR': {'moda': 850,
  'mediana': 650,
  'media': 648.961294,
  'desvio_padrao': 98.607186}}

In [25]:
#transformando dicionário em json

json.dumps(cred2)

'{"SC": {"moda": 850, "mediana": 653, "media": 649.537653, "desvio_padrao": 97.233493}, "RS": {"moda": 850, "mediana": 650, "media": 651.105143, "desvio_padrao": 95.136598}, "PR": {"moda": 850, "mediana": 650, "media": 648.961294, "desvio_padrao": 98.607186}}'

In [27]:
#criando arquivo json

with open('submission.json','w') as arquivo:
    arquivo.write(json.dumps(cred2))