# Desafio 1

Para esse desafio, vamos trabalhar com o data set [Black Friday](https://www.kaggle.com/mehdidag/black-friday), que reúne dados sobre transações de compras em uma loja de varejo.

Vamos utilizá-lo para praticar a exploração de data sets utilizando pandas. Você pode fazer toda análise neste mesmo notebook, mas as resposta devem estar nos locais indicados.

> Obs.: Por favor, não modifique o nome das funções de resposta.

## _Set up_ da análise

In [7]:
import pandas as pd
import numpy as np

In [9]:
black_friday = pd.read_csv('black_friday_sem2.csv')

## Inicie sua análise a partir daqui

In [10]:
print(black_friday.head())
print(black_friday.describe())
print(black_friday.info())

   User_ID Product_ID Gender   Age  Occupation City_Category  \
0  1000001  P00069042      F  0-17          10             A
1  1000001  P00248942      F  0-17          10             A
2  1000001  P00087842      F  0-17          10             A
3  1000001  P00085442      F  0-17          10             A
4  1000002  P00285442      M   55+          16             C

  Stay_In_Current_City_Years  Marital_Status  Product_Category_1  \
0                          2               0                   3
1                          2               0                   1
2                          2               0                  12
3                          2               0                  12
4                         4+               0                   8

   Product_Category_2  Product_Category_3  Purchase
0                 NaN                 NaN      8370
1                 6.0                14.0     15200
2                 NaN                 NaN      1422
3                14.0                 NaN      1057
4                 NaN                 NaN      7969
            User_ID    Occupation  Marital_Status  Product_Category_1  \
count  5.375770e+05  537577.00000   537577.000000       537577.000000
mean   1.002992e+06       8.08271        0.408797            5.295546
std    1.714393e+03       6.52412        0.491612            3.750701
min    1.000001e+06       0.00000        0.000000            1.000000
25%    1.001495e+06       2.00000        0.000000            1.000000
50%    1.003031e+06       7.00000        0.000000            5.000000
75%    1.004417e+06      14.00000        1.000000            8.000000
max    1.006040e+06      20.00000        1.000000           18.000000

       Product_Category_2  Product_Category_3       Purchase
count       370591.000000       164278.000000  537577.000000
mean             9.842144           12.669840    9333.859853
std              5.087259            4.124341    4981.022133
min              2.000000            3.000000     185.000000
25%              5.000000            9.000000    5866.000000
50%              9.000000           14.000000    8062.000000
75%             15.000000           16.000000   12073.000000
max             18.000000           18.000000   23961.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 537577 entries, 0 to 537576
Data columns (total 12 columns):
User_ID                       537577 non-null int64
Product_ID                    537577 non-null object
Gender                        537577 non-null object
Age                           537577 non-null object
Occupation                    537577 non-null int64
City_Category                 537577 non-null object
Stay_In_Current_City_Years    537577 non-null object
Marital_Status                537577 non-null int64
Product_Category_1            537577 non-null int64
Product_Category_2            370591 non-null float64
Product_Category_3            164278 non-null float64
Purchase                      537577 non-null int64
dtypes: float64(2), int64(5), object(5)
memory usage: 49.2+ MB
None

## Questão 1

Quantas observações e quantas colunas há no dataset? Responda no formato de uma tuple `(n_observacoes, n_colunas)`.

In [11]:
def q1():
    return black_friday.shape
q1()

(537577, 12)

## Questão 2

Há quantas mulheres com idade entre 26 e 35 anos no dataset? Responda como um único escalar.

In [12]:
def q2():
    return black_friday.groupby('Gender')['Age'].value_counts().tolist()[0]
q2()

49348

## Questão 3

Quantos usuários únicos há no dataset? Responda como um único escalar.

In [13]:
def q3():
    return len(black_friday['User_ID'].unique())
q3()

5891

## Questão 4

Quantos tipos de dados diferentes existem no dataset? Responda como um único escalar.

In [14]:
def q4():
    return len(black_friday.dtypes.value_counts())
q4()

3

## Questão 5

Qual porcentagem dos registros possui ao menos um valor null (`None`, `ǸaN` etc)? Responda como um único escalar entre 0 e 1.

In [15]:
def q5():
    return black_friday.isnull().sum().max()/black_friday.shape[0]
q5()

0.6944102891306734

## Questão 6

Quantos valores null existem na variável (coluna) com o maior número de null? Responda como um único escalar.

In [16]:
def q6():
    return black_friday.isnull().sum().max()
q6()

373299

## Questão 7

Qual o valor mais frequente (sem contar nulls) em `Product_Category_3`? Responda como um único escalar.

In [17]:
def q7():
    return black_friday['Product_Category_3'].mode()[0]
q7()

16.0

## Questão 8

Qual a nova média da variável (coluna) `Purchase` após sua normalização? Responda como um único escalar.

In [18]:
def q8():
        return ((black_friday['Purchase']-black_friday['Purchase'].min())/
       (black_friday['Purchase'].max()-black_friday['Purchase'].min())).mean()
q8()

0.38479390362696736

## Questão 9

Quantas ocorrências entre -1 e 1 inclusive existem da variáel `Purchase` após sua padronização? Responda como um único escalar.

In [19]:
def q9():
    blackfriday=((black_friday['Purchase']-black_friday['Purchase'].mean())/black_friday['Purchase'].std())
    return len(blackfriday.loc[blackfriday>-1].loc[blackfriday<1])
q9()

348631

## Questão 10

Podemos afirmar que se uma observação é null em `Product_Category_2` ela também o é em `Product_Category_3`? Responda com um bool (`True`, `False`).

In [47]:
def q10():
    black_friday2=black_friday[['Product_Category_2','Product_Category_3']]
    black_friday2=black_friday2[black_friday2['Product_Category_2'].isnull()]
    return black_friday2['Product_Category_2'].equals(black_friday2['Product_Category_3'])
q10()

True